<aside>
  <!-- 返回按钮 -->
  <div class="row">
    <div class="col-md-12">
    <br/>
    
        {% if page.path contains '_posts' %}
        <!-- 如果该页面的路径有'_post'（说明是博文）那么后退按钮指向/blog -->
        <h1 class="text-center" style="margin-top:0px"><a href="/blog" class="icon icon-back"></a></h1>
        {% else %}
        <!-- 否则指向Home -->
        <h1 class="text-center" style="margin-top:0px"><a href="/" class="icon icon-back"></a></h1>
        {% endif %}
  	</div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <ul class="left-nav">
        {% for link in site.navigation %}
          <li class="left-nav-item">
            <a href="{{link.url}}">{{link.text}}</a>
          </li>
        {% endfor %}
        </ul>
  	</div>
  </div>	
</aside>